@import 'colors';

#archive {
  margin: 0 1rem;
  @media (min-width: 1350px) {
    width: 1350px;
    margin: 0 auto;
  }
  td, th {
    padding: 0 0.5rem;
  }
  a {
    color: cyan;
  }
  
  .date-selector {
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
    button {
      margin-top: 0.5rem;
    }
    button:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
  .archive-selector {
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
  }
  .archive-list {
    display: inline-block;
    vertical-align: top;
  }
  
  .archive-select-link {
    width: 10rem;
    text-align: center;
    height: #{(10 * (9/16))}rem;
    background-size: contain;
    display: block;
    
    .archive-time {
      background: rgba(0, 0, 0, 0.85);
      color: white;
    }
  }
}
