#archive {
  margin: 0 1rem;
  @media (min-width: 1350px) {
    width: 1350px;
    margin: 0 auto;
  }
  td, th {
    padding: 0 0.5rem;
  }
  a {
    color: cyan;
  }
  
  .date-selector {
    margin: 0 auto;
    width: max-content;
    button:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
  .archive-selector {
    margin: 0 auto;
    width: max-content;
  }
  .archive-list {
    display: inline-block;
    vertical-align: top;
  }
}
