$aspect: 9/16;
$singleColumnMax: 1350px;

video {
    $width: 95vw;
    max-width: $width;
    /* maintain aspect ratio */
    max-height: $aspect * $width;
    width: 1280px;
    height: 720px;
    background: #0a0c10;

}
@media (min-width: $singleColumnMax) {
    video:not(.large-player) {
        $width: 47vw;
        max-width: $width;
        max-height: $width * $aspect;
    }

}
@media (max-width: $singleColumnMax) {
    #large-player-checkbox-container {
        display: none;
    }
}

section.streams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stream-container {
    position: relative;
    margin: 1rem;

    .stats {
        position: absolute;
        left: 0;
        padding: 2px;
        white-space: pre;
        font-size: 1vh;
        background: rgba(0, 0, 0, 0.7);
        font-family: "Homespun", sans-serif;
    }
}

#inactive-prompt {
    text-align: center;
    position: fixed;
    background: rgba(24, 26, 30, 0.9);
    height: 100%;
    width: 100%;
    top: 0;
    padding-top: 30%;
    z-index: 99999;
}
