@import "mixins";

//used to prevent scrollbars showing on the documentElement
.noscroll {
    overflow: hidden;
}

#screensaver {
    @include fullscreen();
    justify-content: center;
    background: black;
    z-index: 999999;
    font-size: 150%;

    #clock {
        #time {
            font-size: 5rem;
        }
        #date {
            font-size: 2rem;
        }
    }

    #screensaver-info {
        text-align: center;
        justify-content: center;
    }

    p {
        margin: 0.2rem 0;
    }
}