@import 'mixins';

@mixin temperature($tempColor, $contrastingColor) {
    color: $tempColor;
}

.temp100 {
    @include temperature(#f00, black);
}
.temp90 {
    @include temperature(#fe3300, black);
}
.temp80 {
    @include temperature(#fe6601, black);
}
.temp70 {
    @include temperature(#fe8a33, black);
}
.temp60  {
    @include temperature(#ffbf00, black);
}
.temp50 {
    @include temperature(#fdff00, black);
}
.temp40 {
    @include temperature(#3fff6e, black);
}
.temp30 {
    @include temperature(#34cbc6, black);
}
.temp20 {
    @include temperature(#35cbcb, black);
}
.temp10 {
    @include temperature(#009afe, black);
}
.temp0 {
    @include temperature(#9169ff, white);
}
.temp-10 {
    @include temperature(#eb03ff, white);
}
.temp-20 {
    @include temperature(#ff00a7, white);
}
.temp-30 {
    @include temperature(#ff0083, white);
}
.temp-bottom {
    @include temperature(#ff0099, white);
}

#weather {
    padding: 1rem;
    flex: 1;
    overflow: auto;

    .forecast-box {
        margin: 0.5rem;
        padding: 0.5rem;
        background: #14171e;
        border-radius: 0.1rem;
    }

    #weather-current {
        h2 {
            font-size: 1.2rem;
            margin: 0 1rem 0 0;
        }
        svg {
            font-size: 2.5rem;
        }
        #current-temp {
            font-size: 2rem;
            margin: 0;
        }
    }

    .inline-data {
        white-space: nowrap;
    }

    #daily {
        overflow: auto;

        .forecast-day {
            flex-shrink: 0;
            flex-basis: min-content;
            $smallFont: 0.8rem;

            &[role=button] {
                cursor: pointer;
            }

            p {
                margin: 0;
            }

            h2 {
                margin: 0;
                font-size: 1.1rem;
                white-space: nowrap;
            }

            .summary {
                margin: 0;
                width: 7rem;
                font-size: $smallFont;
            }
            .forecast-stats {

            }
            .precipitation-amounts {
                margin-left: 1rem;
                font-size: $smallFont;
            }

            .forecast-day-title-bar {
                h2 {
                    flex-grow: 0;
                }
                svg {
                    flex-grow: 1;
                }
            }
        }
    }

    #weather-alerts {
        @include fullscreen();
        @include overlay();
        text-align: center;
        padding: 2rem;
        overflow: auto;
        max-height: 100vh;
        display: flex;
        flex-direction: column;

        button {
            flex: 0;
            padding: 1rem;
            align-self: center;
        }
        .alerts-detail-list {
            flex: 1;
            overflow: auto;
        }
    }
}

@media (max-width: 700px) {
    #weather {
        width: 100%;
    }
    #weather-current-container {
        justify-content: center;
    }
}

.alert-description {
    text-align: left;
}
#weather-graph {
    align-self: center;
}
#weather-graph-container {
    overflow: auto;
    max-width: 95vw;
}
.forecast-detailed-hour {
    margin: 1rem;
}
