@import 'live';
@import 'nav';
@import 'archive';
@import 'colors';

* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    background: #1a1e26;
    color: white;
    font-family: "Roboto Light", sans-serif;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

button {
    display: inline-block;
    color: #3db4f2;
    background: #343a4a;
    cursor: pointer;
    transition: border 0.2s, background 0.2s;
    padding: 0.3rem 1rem 0.2rem 1rem;
    border: none;
    border-radius: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    height: 3rem;
    vertical-align: top;
}

button:not(:disabled):hover {
    background: #272c38;
    color: $pink;
}

button:disabled {
    cursor: auto;
    color: #272c38;
}

.centered-controls {
    display: flex;
    justify-content: center;

    > * {

    }
}
