doctype html
html
    head
        title= title
        meta(name='viewport',  content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#24252b')
        link(href='logo.png', rel='icon')
        link(href='//fonts.googleapis.com/css?family=Roboto', rel="stylesheet")
        link(href='//fonts.googleapis.com/css?family=Ceviche+One', rel="stylesheet")
        link(href='style.css', rel="stylesheet")
        script(src="ui.js")
    body
        header
            img.logo(src='logo.png')
            h1= title
        div#inactive-prompt.hidden
            p Are you still watching?
            button#confirm-active Yes
        for stream in streams
            div.stream-container
                video(class="stream", controls, autoplay, data-stream-id=stream)
                span(class="stats")
