doctype html
html
    head
        title= title
        meta(name='viewport',  content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#24252b')
        link(href='logo.png', rel='icon')
        link(href='//fonts.googleapis.com/css?family=Roboto', rel="stylesheet")
        link(href='//fonts.googleapis.com/css?family=Ceviche+One', rel="stylesheet")
        script(src="dist/ui.js")
    body
        div#react-root
