body {
    background: #1a1e26;
    color: white;
    font-family: "Roboto Light", sans-serif;
}
h1 {
    text-align: center;
    font-family: 'Ceviche One', sans-serif;
    text-shadow: 0.2rem -0.2rem 0 #8e24aa, 0 0 0.1rem black;
    font-size: 3rem;
}
img, div.stream-error, video {
    max-width: 95vw;
    /* maintain aspect ratio */
    max-height: 53.4375vw;
    width: 1280px;
    height: 720px;
    background: #0a0c10;
}

div.stream-error {
    text-align: center;
}

video {
    border: 1px solid white;
}
.hidden {
    display: none;
}
#inactive-prompt {
    text-align: center;
    padding: 2rem;
}

button {
    display: inline-block;
    color: #3db4f2;
    background: #343a4a;
    cursor: pointer;
    transition: border 0.2s, background 0.2s;
    padding: 0.3rem 1rem 0.2rem 1rem;
    border: none;
    border-radius: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    height: 3rem;
    vertical-align: top;
}
button:hover {
    background: #272c38;
    color: #d81b60;
}
